CarDiagnostics/appsettings.json
appsettings.json
CarDiagnostics/bin/
CarDiagnostics/obj/
CarDiagnostics/bin/Debug/net8.0/appsettings.json
# Ignore big JSON files
license_plate_data.json
CarDiagnostics/bin/
CarDiagnostics/obj/
manual_links.json